<nav>
  <ul>
    <li><%= link_to "Main", root_path, class: "nav-link" %></li>
    <li><%= link_to "Who we are", class: "nav-link" %></li>
    <li><%= link_to "Contact Us", class: "nav-link" %></li>
  </ul>
</nav>
