<% @guitars.each do |guitar| %>
<article class="border">
  <%= image_tag guitar.photo %>
  <p>
    <%= guitar.name%>
  </p>
  <p>
    <%= guitar.price %>
  </p>
  <p>
    <%= guitar.description %>
  </p>
</article>
<% end %>
