<div class="show-box">
  <%= image_tag @guitar.photo, class: "show-pic" %>

  <h2 class="name">
    <%= @guitar.name %>
  </h2>

  <span class="price">
    <%= number_to_currency(@guitar.price) %>
  </span>

  <p class="description">
    <%= @guitar.description %>
  </p>
</div>
